* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", serif;
}

body {
  overflow-y: hidden;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  width: 100%;
  padding: 1.5rem;
  margin: 0 auto;
}

nav a.active {
  color: #0094cb;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  padding: 1rem;
}

.wrap {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px 0 0;
}
@media (max-width: 1000px) {
  .wrap {
    padding: 0;
  }
}
.wrap .content {
  overflow-y: scroll;
  scrollbar-width: none;
  overflow-x: hidden;
  height: 100vh;
  flex: 1;
}
.wrap .content .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #05071c;
  height: 5rem;
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: #fff;
}
@media (max-width: 1000px) {
  .wrap .content .navbar {
    padding: 0 1rem 0 0;
  }
}
.wrap .content .navbar .logo_wrap {
  display: flex;
  padding: 0.5rem;
  gap: 2.3rem;
}
@media (max-width: 1000px) {
  .wrap .content .navbar .logo_wrap {
    gap: 1rem;
  }
}
.wrap .content .navbar .logo_wrap .logo {
  display: none;
  max-width: 4rem;
  max-height: 4rem;
}
@media (max-width: 1000px) {
  .wrap .content .navbar .logo_wrap .logo {
    display: block;
  }
}
.wrap .content .navbar .logo_wrap .logo img {
  width: 100%;
}
.wrap .content .navbar .logo_wrap .logo_lext {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrap .content .navbar .logo_wrap .logo_lext h3 {
  font-size: 0.9rem;
}
.wrap .content .navbar .logo_wrap .logo_lext h3:first-child {
  font-weight: 400;
}
.wrap .content .navbar .logo_wrap .logo_lext h3:last-child {
  font-weight: 700;
}
.wrap .content .navbar nav {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
@media (max-width: 1000px) {
  .wrap .content .navbar nav {
    display: none;
  }
}
.wrap .content .navbar nav a.active {
  font-weight: bold;
  color: #0094cb;
}
.wrap .content .navbar nav ul {
  display: flex;
  gap: 1.25rem;
}
.wrap .content .navbar nav ul a {
  color: #05071c;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
}
.wrap .content .navbar nav select {
  outline: none;
  border: none;
  font-size: 1.2rem;
}
.wrap .content .navbar #bar {
  background: #0094cb;
  color: white;
  padding: 9px 12px;
  border-radius: 8px;
  cursor: pointer;
  display: none;
}
@media (max-width: 1000px) {
  .wrap .content .navbar #bar {
    display: block;
  }
}
.wrap #sidebar {
  height: 100vh;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 1000px) {
  .wrap #sidebar {
    display: none;
  }
}
.wrap #sidebar .sidebar_contain {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrap #sidebar .sidebar_contain .logo {
  max-width: 4rem;
  max-height: 4.1rem;
  padding: 1rem;
  box-sizing: content-box;
}
.wrap #sidebar .sidebar_contain .logo img {
  width: 100%;
}
.wrap #sidebar .sidebar_contain ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.wrap #sidebar .sidebar_contain ul a {
  text-decoration: none;
}
.wrap #sidebar .sidebar_contain ul a li {
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.219);
  width: 2.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.5s;
}
.wrap #sidebar .sidebar_contain ul a li i {
  color: #fff;
}
.wrap #sidebar .sidebar_contain ul a li:hover {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.416);
}
.wrap #sidebar .sidebar_contain ul a li:hover i {
  color: rgba(0, 0, 0, 0.416);
}

.responsive_navbar {
  position: fixed;
  flex-direction: column;
  gap: 10px;
  top: 5rem;
  left: 100%;
  display: none;
  height: calc(100vh - 5rem);
  width: 100%;
  background-color: #fff;
  padding: 2rem 1rem;
  transition: left 0.5s;
}
@media (max-width: 1000px) {
  .responsive_navbar {
    display: block;
  }
}
.responsive_navbar .languages {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}
.responsive_navbar .languages button {
  padding: 10px 1.3rem;
  border: 1px solid #0094cb;
  outline: none;
  border-radius: 10px;
  color: #0094cb;
  background-color: #fff;
  font-size: 1.2rem;
}
.responsive_navbar .languages button:nth-child(2) {
  background: #0094cb;
  color: #fff;
}
.responsive_navbar .routes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.responsive_navbar .routes a li {
  padding: 1rem;
  border-bottom: 1px solid rgba(51, 51, 51, 0.3529411765);
  font-size: 1.7rem;
  text-transform: uppercase;
  color: #05071c;
  font-size: 1.1rem;
  font-weight: 400;
}
.responsive_navbar .routes a.active li {
  color: #0094cb;
}
.responsive_navbar .socials {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
}
.responsive_navbar .socials a {
  max-width: 3rem;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 50%;
  background: linear-gradient(90deg, #0094cb -19.55%, #96dccb 100%);
}
.responsive_navbar .socials a li {
  font-size: 1.5rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home section:not(section:last-child) {
  margin-bottom: 100px;
}
#home .section-1 {
  display: flex;
  height: 80vh;
  border: 1px solid rgba(0, 0, 0, 0.116);
  gap: 5px;
}
#home .section-1 .left {
  flex: 1;
  display: flex;
  align-items: flex-end;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
  padding: 3rem;
}
@media (max-width: 1000px) {
  #home .section-1 .left {
    display: none;
  }
}
#home .section-1 .left img {
  max-width: 106px;
  width: 100%;
}
#home .section-1 .left p {
  font-size: 1.9rem;
  text-transform: uppercase;
  font-weight: 600;
}
#home .section-1 .right {
  height: 100%;
  flex: 2;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1000px) {
  #home .section-1 .right {
    flex: 1;
    display: flex;
    width: 100%;
  }
}
#home .section-1 .right .information {
  position: absolute;
  bottom: 5%;
  left: 5%;
  max-width: 50%;
  color: #fff;
}
#home .section-1 .right .information h1 {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 2rem;
}
@media (max-width: 1000px) {
  #home .section-1 .right video {
    height: 100%;
  }
}
#home .section-2 h2 {
  text-transform: uppercase;
  color: #0094cb;
  margin-bottom: 0.5rem;
}
@media (max-width: 1000px) {
  #home .section-2 h2 {
    padding: 0 1rem;
  }
}
#home .section-2 .paragraph {
  color: #05071c;
  margin-bottom: 2rem;
}
@media (max-width: 1000px) {
  #home .section-2 .paragraph {
    padding: 0 1rem;
  }
}
#home .section-2 .wraping {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 1000px) {
  #home .section-2 .wraping {
    padding: 1rem;
  }
}
#home .section-2 .wraping li {
  width: 33%;
  border: 1px solid rgba(0, 0, 0, 0.116);
  padding: 1.2rem;
  display: flex;
}
@media (max-width: 1000px) {
  #home .section-2 .wraping li {
    width: 50%;
  }
}
@media (max-width: 600px) {
  #home .section-2 .wraping li {
    width: 100%;
  }
}
#home .section-2 .wraping li img {
  align-self: flex-end;
  cursor: pointer;
}
#home .section-2 .wraping li p {
  font-size: 1.4rem;
  color: #05071c;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 1.5rem;
}
@media (max-width: 900px) {
  #home .section-2 .wraping li p {
    font-size: 1.2rem;
  }
}
@media (max-width: 600px) {
  #home .section-2 .wraping li p {
    font-size: 1rem;
  }
}
#home .section-3 {
  position: relative;
}
@media (max-width: 1000px) {
  #home .section-3 {
    padding: 0 20px;
  }
}
#home .section-3 .img {
  position: absolute;
  top: -200px;
  right: -100px;
  z-index: -1;
}
#home .section-3 .img img {
  width: 600px;
}
@media (max-width: 600px) {
  #home .section-3 .img {
    top: 0;
    left: 0;
    width: 300px;
  }
}
#home .section-3 .wrap_info {
  max-width: 900px;
}
#home .section-3 .wrap_info .heading_section-3 {
  text-align: end;
  margin-bottom: 3rem;
}
#home .section-3 .wrap_info .heading_section-3 h2 {
  text-transform: uppercase;
  color: #0094cb;
  margin-bottom: 0.5rem;
}
#home .section-3 .wrap_info .timeline-container {
  display: flex;
  background-image: url("../images/contur.png");
  background-size: 100% 300px;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  row-gap: 98px;
}
@media (max-width: 600px) {
  #home .section-3 .wrap_info .timeline-container {
    border-top: 2px dashed #0094cb;
    background-image: none;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
    gap: 1.5rem;
  }
}
#home .section-3 .wrap_info .timeline-container .timeline-item {
  text-align: center;
  min-height: 200px;
}
#home .section-3 .wrap_info .timeline-container .timeline-item:nth-child(1), #home .section-3 .wrap_info .timeline-container .timeline-item:nth-child(2), #home .section-3 .wrap_info .timeline-container .timeline-item:nth-child(3) {
  width: 33%;
}
#home .section-3 .wrap_info .timeline-container .timeline-item:nth-child(4), #home .section-3 .wrap_info .timeline-container .timeline-item:nth-child(5), #home .section-3 .wrap_info .timeline-container .timeline-item:nth-child(6), #home .section-3 .wrap_info .timeline-container .timeline-item:nth-child(7) {
  width: 25%;
}
#home .section-3 .wrap_info .timeline-container .timeline-item .content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
#home .section-3 .wrap_info .timeline-container .timeline-item .content-box .circle {
  width: 1rem;
  aspect-ratio: 1/1;
  background: linear-gradient(270deg, #0094cb 31.94%, #4acf78 51.41%, #0094cb 59.48%);
  border: 1px solid #333;
  border-radius: 50%;
}
#home .section-3 .wrap_info .timeline-container .timeline-item .content-box .year {
  color: #0094cb;
  font-size: large;
}
#home .section-3 .wrap_info .timeline-container .timeline-item .content-box .description {
  font-size: 1rem;
  font-weight: 400;
}
#home .section-4 {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}
@media (max-width: 1000px) {
  #home .section-4 {
    padding: 1rem;
  }
}
#home .section-4 .info_part {
  max-width: 1000px;
  width: 100%;
}
#home .section-4 .info_part .heading_section-3 {
  margin-bottom: 3rem;
}
#home .section-4 .info_part .heading_section-3 h2 {
  text-transform: uppercase;
  color: #0094cb;
  margin-bottom: 0.5rem;
}
#home .section-4 .info_part .chart .img {
  margin-bottom: 100px;
}
@media (max-width: 1000px) {
  #home .section-4 .info_part .chart .img {
    overflow-x: scroll;
  }
}
#home .section-4 .info_part .chart .timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 1000px) {
  #home .section-4 .info_part .chart .timeline {
    overflow-x: scroll;
    scrollbar-width: none;
  }
}
#home .section-4 .info_part .chart .timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border: 1px solid #00b4d8;
  z-index: 0;
}
#home .section-4 .info_part .chart .timeline .step {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
#home .section-4 .info_part .chart .timeline .step .circle {
  width: 16px;
  height: 16px;
  border: 2px solid #00b4d8;
  background-color: white;
  border-radius: 5%;
  margin-bottom: 15px;
}
#home .section-4 .info_part .chart .timeline .step .step-content {
  display: flex;
  flex-direction: column;
}
#home .section-4 .info_part .chart .timeline .step .step-content .step-header {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  flex-direction: column;
}
#home .section-4 .info_part .chart .timeline .step .step-content .step-header .rounded-box {
  background: linear-gradient(90deg, #0094cb -19.55%, #96dccb 100%);
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 10px 0 0 10px;
  font-size: 1.3rem;
  align-self: flex-start;
}
#home .section-4 .info_part .chart .timeline .step .step-content .step-header .arrow {
  font-size: 1.5rem;
  color: #00b4d8;
  border: 2px solid #00b4d8;
  width: 50px;
  font-weight: 600;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home .section-4 .info_part .chart .timeline .step .step-content .step-text {
  font-size: 1rem;
  color: #000000;
  max-width: 258px;
}
@media (max-width: 600px) {
  #home .section-4 .info_part .chart .timeline .step .step-content .step-text {
    font-size: 12px;
  }
}
#home .section-5 h2 {
  text-transform: uppercase;
  color: #0094cb;
  margin-bottom: 0.5rem;
  margin-bottom: 3rem;
}
@media (max-width: 1000px) {
  #home .section-5 h2 {
    padding: 2rem;
  }
}
#home .section-5 .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
@media (max-width: 1250px) {
  #home .section-5 .cards {
    gap: 1rem;
  }
}
@media (max-width: 1150px) {
  #home .section-5 .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1000px) {
  #home .section-5 .cards {
    padding: 2rem;
  }
}
@media (max-width: 850px) {
  #home .section-5 .cards {
    grid-template-columns: 1fr;
  }
}
#home .section-5 .cards .card {
  display: flex;
  flex-direction: column;
  cursor: alias;
}
#home .section-5 .cards .card:hover .image {
  position: relative;
}
#home .section-5 .cards .card:hover .image::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4470588235);
  transition: background 0.5s;
}
#home .section-5 .cards .card .image {
  border-radius: 23px;
  overflow: hidden;
}
#home .section-5 .cards .card .image img {
  width: 100%;
}
#home .section-5 .cards .card .info_card {
  border-radius: 23px;
  background: #fff;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1607843137);
  padding: 1.3rem;
  transform: translateY(-40px);
  overflow: hidden;
}
#home .section-5 .cards .card .info_card .head_info_card {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
}
#home .section-5 .cards .card .info_card .head_info_card h3 {
  font-size: 17px;
}
#home .section-5 .cards .card .info_card .head_info_card .square {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #7e7e7e;
  padding: 0.3rem 0.8rem;
}
#home .section-5 .cards .card .info_card .head_info_card .square span:first-child {
  color: #7e7e7e;
  font-weight: 700;
  font-size: 1.5rem;
}
#home .section-5 .cards .card .info_card .body_info_card {
  font-weight: 400;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}
#home .section-5 .cards .card .info_card .footer_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#home .section-5 .cards .card .info_card .footer_card span:nth-child(2) {
  color: #013e8d;
  text-transform: uppercase;
}
#home .section-6 {
  background: url("../images/section6.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
@media (max-width: 750px) {
  #home .section-6 {
    position: relative;
  }
}
#home .section-6 ul {
  display: flex;
  height: 100%;
  justify-content: space-around;
}
@media (max-width: 750px) {
  #home .section-6 ul {
    display: none;
  }
}
#home .section-6 ul li {
  max-width: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 20vh;
  color: #0094cb;
}
#home .section-6 ul li span {
  font-size: 3.5rem;
  font-weight: 500;
}
@media (max-width: 1200px) {
  #home .section-6 ul li span {
    font-size: 3rem;
  }
}
@media (max-width: 1000px) {
  #home .section-6 ul li span {
    font-size: 2rem;
  }
}
#home .section-6 ul li p {
  font-size: 1.3rem;
}
@media (max-width: 1200px) {
  #home .section-6 ul li p {
    font-size: 1rem;
  }
}
#home .section-6 .logo_lext {
  transform: translateY(-100px);
  margin-left: 100px;
  text-transform: uppercase;
}
@media (max-width: 750px) {
  #home .section-6 .logo_lext {
    margin-left: 0;
    position: absolute;
    bottom: 3rem;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
#home .section-6 .logo_lext h3:nth-child(1) {
  font-weight: 400;
}

@media (max-width: 1100px) {
  #solution {
    padding: 0 1rem;
  }
}
#solution h1 {
  font-size: 2rem;
  color: #0094cb;
  margin-bottom: 2rem;
}
#solution .flex {
  display: flex;
  gap: 1rem;
}
@media (max-width: 900px) {
  #solution .flex {
    flex-direction: column;
  }
}
#solution .flex .right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 29%;
}
@media (max-width: 900px) {
  #solution .flex .right {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
#solution .flex .right li {
  display: grid;
  grid-template-columns: 0.5fr 10fr 0.5fr;
  padding: 0.8rem;
  gap: 1rem;
  align-items: center;
  border-radius: 6px;
  transition: background 0.5;
}
@media (max-width: 900px) {
  #solution .flex .right li {
    width: 47%;
  }
}
#solution .flex .right li:hover {
  background: #f1f2f4;
  cursor: pointer;
}
#solution .flex .right li p {
  font-size: 14px;
  font-weight: 600;
}
#solution .flex .right li span:first-child {
  background: #0094cb;
  border-radius: 5px;
  width: 30px;
  aspect-ratio: 1/1;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#solution .flex .right li span:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #a0aec0;
}
#solution .flex .left {
  display: flex;
  flex-direction: column;
}
#solution .flex .left .head {
  background: linear-gradient(90deg, #0094cb 0%, rgba(59, 202, 255, 0) 100%);
  padding: 3rem 2em;
  color: #fff;
  border-radius: 15px;
  margin-bottom: 2rem;
}
@media (max-width: 1100px) {
  #solution .flex .left .head {
    margin-bottom: 1rem;
  }
}
#solution .flex .left .head h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}
#solution .flex .left .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
@media (max-width: 1100px) {
  #solution .flex .left .grid {
    gap: 1rem;
  }
}
@media (max-width: 700px) {
  #solution .flex .left .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  #solution .flex .left .grid {
    grid-template-columns: 1fr;
  }
}
#solution .flex .left .grid > div {
  min-height: 200px;
  border-radius: 15px;
  display: flex;
  align-items: end;
  padding: 30px 20px;
  background: linear-gradient(180deg, rgba(0, 148, 203, 0.8) 11.59%, rgba(0, 61, 181, 0) 100%), url("../images/solution_.png");
  color: #fff;
  font-weight: 600;
}
#solution .flex .left .grid > div:hover {
  cursor: pointer;
  box-shadow: 0px 0px 7px #646464;
  transform: translateY(-10px);
}

@media (max-width: 1000px) {
  #rating {
    padding: 0 1rem;
  }
}
#rating .info h2 {
  font-size: 2.3rem;
  color: #0094cb;
  margin-bottom: 1.5rem;
}
#rating .info p {
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  line-height: 150%;
}
#rating ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
  margin-bottom: 50px;
}
@media (max-width: 540px) {
  #rating ul {
    justify-content: center;
  }
}
#rating ul li {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}
@media (max-width: 780px) {
  #rating ul li {
    width: 48%;
  }
}
@media (max-width: 540px) {
  #rating ul li {
    width: 80%;
  }
}
#rating ul li span {
  background: linear-gradient(90deg, #0094cb -19.55%, #96dccb 100%);
  font-size: 3rem;
  font-weight: 800;
  color: #fff;
  max-width: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
#rating ul li p {
  font-weight: 600;
}
#rating h2 {
  font-size: 2.3rem;
  color: #0094cb;
  margin-bottom: 1.5rem;
}
#rating .line_chart_wrap {
  margin-bottom: 100px;
}
#rating .line_chart_wrap .Button_switch {
  background-color: #e1f7ff;
  border-radius: 30px;
  display: flex;
  padding: 5px;
  max-width: 300px;
  width: 100%;
}
#rating .line_chart_wrap .Button_switch button {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 14px 20px;
  border-radius: 30px;
  color: #0094cb;
}
#rating .line_chart_wrap .Button_switch button:nth-child(2) {
  flex: 1;
}
#rating .line_chart_wrap .Button_switch button:first-child {
  padding: 14px 25px;
}
#rating .line_chart_wrap .Button_switch button.active {
  background: #0094cb;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
